name: Code Analysis & Unit Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK 1.8
      uses: actions/setup-java@v3
      with:
        distribution: "zulu"
        java-version: 11

    - name: Ktlint Check
      run: ./gradlew ktlintCheck

    - name: Unit Tests
      run: ./gradlew test
